    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">My Portfolio</h1>
        <p class="lead text-muted">Here are some of my coding projects, you can find more source codes of my projects in my <%= link_to "Github", "https://github.com/kevinqiyefa" %> page. You can also drag and drop each portfolio item once you login.</p>
        <br>
        <p>
          
          <%= link_to "Find Out More About Me", about_path, class: "btn btn-primary" %>
          <%= link_to "My Blogs", blogs_path, class: "btn btn-secondary" %>
  
        </p>
      </div>
    </section>