  <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">As a college graduate with a bachelor's degree in computer science, I have solid knowledge of many types of programming languages as well as some practical experience in web development.</p>
            </div>
            <div class="col-sm-4 py-4">
              <h4 class="text-white">Explore</h4>
              <ul class="list-unstyled">
                <%= nav_helper 'text-white', 'li'  %>
                <li><%= login_helper 'text-white' %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <%= link_to "Kevin Qi", root_path, class: "navbar-brand"  %>
      
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    
    
    
    
        
        