<div role="main" class="inner cover">
<h1 class="cover-heading">About Me</h1>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <%= image_tag "http://kevinqi.000webhostapp.com/public/img/kevinqi.jpg", width: 250, alt: "Profile Image", class: "rounded-circle mx-auto d-block" %>
    </div>
    
    <div class="col-md-1">
    </div>
    
    <div class="col-md-7 about-text">
        <br>
        <h4>As a college graduate with a bachelor's degree in computer science, I have solid knowledge of many types of programming languages as well as some practical experience in web development</h4>
    </div>
    
</div>
</div>

