<div class="app-card-container">
    <div class="card">


        <h1 class="cover-heading">Would you like to work together?</h1>
        
        <br>
        
        <div class="row">
            <div class="col-md-6">
                <h3>Office Address</h3>
                <p>407 Broadway San Francisco, CA 94133</p>
                <h3>Phone</h3>
                <p><%= number_to_phone "4157222332" %></p>
                <h3>Email</h3>
                <p><a href="mailto:kevinqiyf@gmail.com?subject=PortfolioContact" class="btn btn-success">Email Me</a></p>
            </div>
            
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.659757087351!2d-122.4063010849222!3d37.79801277975531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580f50199b5ab%3A0x9018e7336400b546!2s407+Broadway%2C+San+Francisco%2C+CA+94133!5e0!3m2!1sen!2sus!4v1515829015420" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            
        </div>
        
    </div>
</div>