

  <div role="main" class="inner cover home-container">
    <h1 class="cover-heading">Welcome to my online home.</h1>
    <br>
    <h4 class="lead">
      <span class="element"></span>
    </h4>
    <br>
    <br>
    <p class="lead">
      <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>

 
